<div class="footer">
  <div>
    <ul>
      <li>list item 1</li>
      <li>list item 2</li>
      <li>list item 3</li>
      <li>list item 4</li>
      <li>list item 5</li>
      <li>list item 6</li>
    </ul>
  </div>
  <div class="description">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti non libero alias minus obcaecati nisi voluptates! Assumenda eius, temporibus voluptatibus sint corrupti minus quod deserunt obcaecati delectus mollitia neque! Ab.</p>
  </div>
  <div>
    <ul>
      <li><a class="custom-link" href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
    </ul>
  </div>
</div>